.jamSubmitContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jamTitle{
    margin-left: 20px;
    font-weight: 900;
    color: white;
    font-size: 40px;
}
.jamSubmit{
    display: flex;
    flex-direction:row;
    margin-bottom: 0;
}

.jamSubmitInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
    /* center */
    align-items: center;
    justify-content: center;
    flex: 1;
}

.jamInputInfo{
    color: white;
    font-size: 40px;
    margin: 0;
    margin-top: 10px;
    font-weight: 700;
}

.jamName{
    margin-top: 55px;
    font-weight: 500;
    font-size: 15px;
    color: white;
    margin-left: 15px;
}

.jamNote{
    color: grey;
    font-size: 20px;
    margin: -20px 0 10px;
    margin-left: 20px;
}

#jamInput{
    border-radius: 10px;
    caret-color: transparent;
    background-color: #40484D;
    border: #1B1F20 3px solid;
    width: 30vw;
    height: 5vh;
    text-align: center;
    color: white;
    outline: none;
    margin: 10px;
}
/* 
input::-webkit-file-upload-button {
  visibility: hidden;
} */

.inputStyle {
    box-sizing: border-box;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 10px;
    
}

#btn{
    border-radius: 10px;
    border: none;
    background-color: #40484D;
    border: #1B1F20 3px solid;
    color: white;
    width: 10vh;
    height: 3vh;
    cursor: pointer;
    font-weight: 500;
    margin: 10px;

}