.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    margin-bottom: 100px;
    margin-top: 30vh; /* Adjust the value to control the overlap */
}

.jam {
    position: relative;
    width: 75vw; /* Set the overall width of the card */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 20px; */
    margin-top: 5vh;
}

.jamCard {
    width: 100%;
    height: 20vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    z-index: 2;
    margin-bottom: 10px; /* Adjust margin between jamCard and jamDescription */
    box-sizing: border-box; /* Include padding and border in the total width */
}

.jamName {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 0 10px;
    color: white;
}

.jamTimeDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    margin: 0 0 0 0;
}

.jamTimeContent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Adjust margin to separate time-related elements from description */
}

.jamTimeDesc {
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
    color: white;
    margin-top: 20px;
}

.jamTime {
    font-size: 50px;
    font-weight: 900;
    color: white;
    margin: 0;
}

.jamDescription {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: #404040;
    background-color: white;
    position: relative;
    z-index: 1; /* Ensure this is behind jamCard */
    padding: 15px;
    border-bottom-left-radius: 30px; /* Add top border radius to match the bottom border radius of jamCard */
    border-bottom-right-radius: 30px;
    margin-top: -40px; /* Compensate for the overlap */
    width: 100%; /* Occupy the full width of .jam */
    box-sizing: border-box; /* Include padding and border in the total width */
}

.jamImage {
    object-fit: cover;
    /* max-width: 256px; */
    max-width: 128px;
    height: 128px;
    border-radius: 30px;
    margin-right: 10px; /* Adjust spacing between image and text */
}

.jamText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.9vw;
    max-width: 80%; /* Adjust max-width based on the available space */
}

.jamDescriptionContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px; /* Adjust padding as needed */
    max-height: 200px; /* Set your maximum height */
    /* overflow: hidden; */
    box-sizing: border-box; /* Include padding in the total width */
    margin-top: 45px;
}

.jamCardDescription {
    /* font-size: 16px; */
    font-weight: 400;
    max-height: 250px;
    margin: 0;
    color: #404040;
    flex: 1;
    padding: 15px;
    border-bottom-left-radius: 30px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    /* overflow: hidden; */
    text-indent: 2em;
}

.load{
    display: fixed;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    z-index: 9999;
    color: white;
}