body{
    background-color: #272C2E;
    /* overflow: hidden; */
}

.loginImg{
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}
/* 
.loginButton{
    margin: auto;
    width: calc(15%);
    height: 5vh;
    border-radius: 10px;
    background-color: #40484D;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 500;
    top: 50%;
    left: 50%;
    font-size: calc(1.5vw);
    transform: translate(-50%, -10vh);
    align-items: center;
} */


.loginButton {
    position: absolute;
    width: 15%;
    height: 5vh;
    border-radius: 10px;
    background-color: #40484d;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 500;
    top: 50%;
    left: 50%;
    font-size: 1.5vw;
    transform: translate(-50%, -200%);
  }